
.intro-wrapper {
    padding: 15px;
}

.aalogo {
    margin: 15px auto;
    max-width: 40%;
    height: 10%;
    background-image: url('./Bluebird.jpg');
    background-size: cover;
    padding-top: 15%;
}

@media screen and (max-width: 700px) {
    .aalogo {
        width: 300px;
        height: 121px;
        padding-top: unset;
        max-width: unset;
    }
}